.footer {
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #d9d9d9;
  padding: 30px 75px;
}

.footer__brand,
.footer__links,
.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__brand {
  width: 220px;
}

.footer__links-contacts-container {
  display: flex;
  flex-direction: row;
  gap: 40px 40px;
  align-self: center;
}

.footer__contact-container {
  width: 200px;
}

.footer__logo {
  width: 125px;
  height: auto;
}

.footer__description {
  margin: 10px 0 0;
  color: black;
}

.footer__heading {
  margin: 0 0 4px;
  font-size: 16px;
  padding: 0 0 20px;
}

.footer__link {
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 8px;
}

.footer__contact-item {
  margin: 0;
  font-weight: 600;
  width: 100%;
  padding-bottom: 8px;
  color: black;
}

.footer__copyright {
  padding-top: 40px;
  color: white;
  font-weight: 500;
}
